@use "global" as *;

.about-us {
    margin-top: rem(83);
    @include mq("md") {
        margin-top: rem(144);
    }
}

.about-us__inner {
    max-width: rem(600);
    @include mq("md") {
        position: relative;
    }
}

.about-us__inner::after {
    @include mq("md") {

        position: absolute;
        content: "";
        width: rem(194);
        height: rem(181);
        right: calc(50% - min(48.5vw, rem(652)));
        bottom: -47px;
        background-image: url("../images/common/about-us-bg.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

}

.about-us__header {
}

.about-us__header-title {
}

.about-us__header-subtitle {
    @include mq("md") {
        margin-top: rem(3);
    }
}

.about-us__contents {
    margin-top: rem(22);
    position: relative;
    @include mq("md") {
        margin-top: rem(24);
    }
}

.about-us__img-wrap {
    @include mq("md") {
        z-index: -1;
    }
}

.about-us__img-top {
    aspect-ratio: 128 / 194;
    width: 37.133%;
    object-fit: cover;
    z-index: 2;
    position: relative;
    @include mq("md") {
        aspect-ratio: 400 / 606;
        width: calc(400 / 1080 * 100%);
    }
}

.about-us__img-center {
    aspect-ratio: 281 / 186;
    width: 81.933%;
    height: 100%;
    object-fit: cover;
    margin-top: -49%;
    margin-left: auto;
    @include mq("md") {
        aspect-ratio: 880 / 581;
        width: calc(880 / 1080 * 100%);
    }
}

.about-us__img-bottom {
    display: none;
    @include mq("md") {
        aspect-ratio: 194 / 181;
        width: calc(194 / 1080 * 100%);
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        object-fit: cover;
    }
}

.about-us__title-wrap {
    margin-top: rem(40);
    @include mq("md") {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        z-index: 2;
        max-width: 840px;
        width: 100%;
    }
}
.about-us__title {
    font-size: rem(40);
    font-weight: $regular;
    font-family: $en-font;
    line-height: calc(40 / 40);
    color: $green;
    @include mq("md") {
        font-size: rem(80);
        line-height: calc(100 / 80);
        color: $white;
    }
}

.about-us__text-wrap {
    @include mq("md") {
        margin-left: rem(40);
        max-width: rem(400);
        width: 100%;
    }
}

.about-us__text {
    font-size: rem(16);
    font-weight: $regular;
    line-height: calc(24 / 16);
    color: $green2;
    margin-top: rem(16);
    @include mq("md") {
        color: $white;
        margin-top: 0;
    }
}

.about-us__button {
    text-align: center;

    margin-top: rem(48);
    @include mq("md") {
        margin-top: rem(38);
    }
}

.about-us__button-link {
}
