@use "global" as *;
.footer {
    background-color: $green;
    padding-top: rem(48);
    padding-bottom: rem(56);
    @include mq("md") {
        padding-top: rem(88);
        padding-bottom: rem(72);
    }
}


.footer__inner {
    width: 100%;
    max-width: rem(375);
    padding-right: 14px;
    padding-left: 14px;
margin-right: auto;
margin-left: auto;
    @include mq("md") {
        max-width: rem(1058);
        padding-right: 25px;
        padding-left: 25px;
    }
}

.footer__logo {
width: rem(120);
@include mq("md") {
display: flex;
width: rem(200);
align-items: flex-end;
}
}

.footer__sns {
margin-top: rem(16);
@include mq("md") {
margin-bottom: rem(5);
}
}

.footer__sns-list {
display: flex;
}

.footer__sns-item {
width: rem(20);
@include mq("md") {
width: rem(32);
}
}

.footer__sns-item + .footer__sns-item{
    margin-left: rem(16);
 }

 .footer__sns-item:first-child {
    @include mq("md") {

        margin-left: rem(40);
    }
 }



.footer__nav {
margin-top: rem(40);
}

.footer__copy {
    text-align: center;
margin-top: rem(40);
}

.footer__copy-text {
font-size: rem(12);
line-height: calc(18 / 12);
font-weight: $regular;
font-family: $en-font;
color: $white;
@include mq("md") {
font-size: 14px;
line-height: calc(18 / 14);
}

}


