@use "global" as *;
.footer {
    background-color: $green;
    padding-top: rem(48);
    padding-bottom: rem(56);
    @include mq("md") {
        padding-top: rem(80);
        padding-bottom: rem(80);
    }
}

.footer__inner {
max-width: rem(375);
}

.footer__logo {
    width: rem(120);
    @include mq("md") {
        display: flex;
        width: rem(200);
        align-items: flex-end;
    }
}

.footer__sns {
    margin-top: rem(19);
    @include mq("md") {
        margin-bottom: rem(5);
    }
}

.footer__sns-list {
    display: flex;
    @include mq("md") {
        margin-bottom: rem(3);
    }
}

.footer__sns-item {
    width: rem(20);
    @include mq("md") {
        width: rem(26);
    }
}

.footer__sns-item a {
    transition: opacity 0.3s;
}
.footer__sns-item a:hover {
    opacity: 0.7;
}

.footer__sns-item + .footer__sns-item {
    margin-left: rem(20);
    @include mq("md") {
        margin-left: rem(22);
    }
}

.footer__sns-item:first-child {
    @include mq("md") {
        margin-left: rem(40);
    }
}

.footer__nav {
    margin-top: rem(38);
    @include mq("md") {
        margin-top: rem(20);
        width: 83%;
    }
}



.footer__copyright {
    text-align: center;
    margin-top: rem(40);
    font-size: rem(12);
    line-height: calc(18 / 12);
    font-weight: $regular;
    font-family: $en-font;
    color: $white;
    @include mq("md") {
        font-size: rem(14);
        line-height: calc(18 / 14);
        margin-top: rem(80);
    }
}
