@use "global" as *;

.price {
    padding-top: rem(80);
    padding-bottom: rem(82);
    background-color: $blue;
    @include mq("md") {
        padding-top: rem(100);
        padding-bottom: rem(100);
        background-image: url(../images/common/background-fish.png);
        background-position: left rem(100) bottom rem(60);
        background-size: rem(437) rem(201);
        background-repeat: no-repeat;
    }
}

.price__inner {
}

.price__header {
    @include mq("md") {
        margin-right: rem(6);
    }
}

.price__header-title {
}

.price__header-subtitle {
    @include mq("md") {
        margin-top: rem(3);
    }
}

.price__body {
    margin-top: rem(24);
    @include mq("md") {
        margin-top: rem(36);
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
}

.price__img {
    width: 100%;
    height: auto;
    object-fit: cover;
    @include mq("md") {
        max-width: 492px;
        width: 100%;
        margin-left: rem(91);
        aspect-ratio: 492 / 746;
    }
}



.price__responsive-img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.price__contents {
    margin-top: rem(40);
    @include mq("md") {
        margin-top: 0;
        width: 100%;
    max-width: 496px;
    }
}

.price__table {
    width: 100%;
}

.price__table-title {
    font-size: rem(16);
    font-weight: $bold;
    letter-spacing: -0.031em;
    line-height: 1;
    color: $green2;
    border-bottom: rem(1) solid $green;
    text-align: left;
    padding-bottom: rem(8);
}

.price__table-text {
    font-size: rem(14);
    font-weight: $regular;
    line-height: calc(24 / 14);
    color: $green2;
    padding-top: rem(6);
    text-align: left;
    @include mq("md") {
        font-size: rem(16);
        font-weight: $regular;
        line-height: calc(24 / 16);
        margin-top: rem(4);
    }
}

.price__table-price {
    font-size: rem(14);
    font-weight: $regular;
    line-height: calc(24 / 14);
    color: $green2;
    text-align: right;
    padding-top: rem(6);
    padding-left: rem(30);
    @include mq("md") {
        font-size: rem(16);
        line-height: calc(24 / 16);
    }
}

.price__table2 th,
.price__table3 th,
.price__table4 th {
    padding-top: rem(37);
}

// .price__table-head:not(:first-of-type) + tbody {
//     margin-top: rem(37);
// }


.price__button {
    text-align: center;
    margin-top: rem(36);
    margin-right: rem(3);
    @include mq("md") {
        margin-top: rem(80);
    }
}

.price__button-link {
}
