@use "global" as *;

.site-map {
    margin-top: rem(52);
    @include mq("md") {
        margin-top: rem(150);
    }
}

.site-map__inner {
position: relative;
max-width: rem(375);
}

.site-map__inner::before {

    position: absolute;
    content: "";
    width: rem(120);
    height: rem(55);
    left: calc(50% - min(44.5vw, 39rem));
    top: rem(-24);
    background-image: url("../images/common/voice-bg.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    @include mq("md") {
       display: none;
}
}