@use "global" as *;
.sub-campaign{
margin-top: rem(40);
// margin-left: rem(33);


}

.sub-campaign__cards {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  column-gap: rem(40);
  row-gap: rem(40);
justify-items: center
  
}

.sub-campaign__card {

}