@use "global" as *;

.archive-home {}

.archive-home__inner {
    max-width: rem(630);
    position: relative;
}

.archive-home__contents {
    display: flex;
    flex-direction: column;

    @include mq("md") {
        flex-direction: row;
        justify-content: space-between;
    }
}

.archive-home__inner::before {
    position: absolute;
    content: "";
    width: rem(120);
    height: rem(55);
    left: calc(50% - min(44.5vw, 39rem));
    top: rem(-24);
    background-image: url("../images/common/voice-bg.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;

    @include mq("md") {
        width: rem(301);
        height: rem(138);
        top: rem(-70);
        left: calc(50% - min(48.5vw, 39rem));

    }
}


.archive-home__body:nth-child(1) {
    @include mq("md") {
        width: 64.8%;
    }
}

.archive-home__body:nth-child(2) {
    @include mq("md") {

        width: 100%;
        max-width: rem(294);
    }
}