@use "global" as *;


.aside-archive {
    cursor: pointer;
}


.aside-archive__content:not(:first-child) {
    text-indent: 3ch;
}

.aside-archive__toggle,
.aside-archive__content a {
    font-size: rem(24);
    font-weight: $regular;
    color: $green;
}

.aside-archive__toggle span,
.aside-archive__content a {
    padding-left: rem(30);
    position: relative;
}


.aside-archive__toggle span::before {
    position: absolute;
    content: "";
    top: 58%;
    left: 0;
    transform: translateY(-50%);
    transition: transform 0.3s, opacity 0.3s;
    width: 0;
    height: 0;
    border-style: solid;
    border-right: rem(11) solid transparent;
    border-left: rem(11) solid transparent;
    border-top: rem(18) solid $green;
    border-bottom: 0;
}

.aside-archive__toggle span:hover::before {
    opacity: 0.8;
}


.aside-archive__toggle.is-open span::before {
    position: absolute;
    content: "";
    top: 58%;
    left: 0;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-top: rem(11) solid transparent;
    border-bottom: rem(11) solid transparent;
    border-left: rem(18) solid $green;
    border-right: 0;
}

.aside-archive__content a::before {
    position: absolute;
    content: "";
    top: 58%;
    left: 0;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-top: rem(11) solid transparent;
    border-bottom: rem(11) solid transparent;
    border-left: rem(18) solid $green;
    border-right: 0;
}