@use "global" as *;

.blog {
    @include mq("md") {
        position: relative;
    }
}

.blog::before {
    @include mq("md") {
        content: "";
        background-image: url("../images/common/blog-bg.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: absolute;
        width: 100%;
        height: rem(500);
        z-index: -1;
        top: 0;
        left: 0;
    }
}

.blog__inner {
    margin-left: auto;
    margin-right: auto;
    padding-left: rem(21);
    padding-right: rem(21);
    width: 100%;
    max-width: rem(630);

    @include mq("md") {
        padding-right: rem(25);
        padding-left: rem(25);
        max-width: rem(1130);
    }
}

.blog__inner::before {
    @include mq("md") {
        position: absolute;
        content: "";
        width: rem(437);
        height: rem(201);
        top: rem(24);
        left: calc(50% - min(48.5vw, 37.75rem));
        background-image: url("../images/common/blog-bg-fish.png");
        aspect-ratio: 437 / 201;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.blog__header {
    text-align: center;
}



.blog__header-title::first-letter {
    text-transform: uppercase;
    color: $green;

    @include mq("md") {
        color: $blue;
    }
}

.blog__cards {
    margin-top: rem(26);

    @include mq("md") {
        margin-top: rem(77);
    }
}

.blog__card {
    transition: opacity 0.3s;
}

.blog__card a:hover {
    opacity: 0.7;
}

.blog__button {
    text-align: center;
    margin-top: rem(40);

    @include mq("md") {
        margin-top: rem(80);
    }
}