@use "global" as *;
.campaign {
   
}

.campaign__inner {
position: relative;
}

.campaign__header {
}





.campaign__contents {
margin-right: calc(50% - 50vw);

}

.campaign__swiper-button {

}

.campaign__swiper-button-prev,
.campaign__swiper-button-next {
            height: 80px;
            width: 80px;
            top: 0;
            transition: opacity 0.3s;

}

.swiper-button-next:after{
    background-image: url('../images/common/next-arrow.png');
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: rem(80);
    width: rem(80);
    display: none;
    
    @include mq("md") {
        display: block;
    }
}

.swiper-button-prev:after {
    background-image: url('../images/common/prev-arrow.png');
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: rem(80);
    width: rem(80);
    display: none;

    @include mq("md") {
    display: block;
    }
}

.campaign__swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: 76.5%;
} 

.campaign__swiper-button-next, .swiper-rtl .swiper-button-prev  {
    right: 3%;
}



.campaign__swiper-button-prev:hover,
.campaign__swiper-button-next:hover {
    opacity: 0.7;
}



.campaign__slider {
    margin-top: rem(23);
    padding-left: 5px;
    padding-bottom: 10px;


    @include mq("md") {
        margin-top: rem(36);
    }
}

.campaign__slider-cards {

}


.campaign__button {
    text-align: center;
    margin-top: rem(28);
    @include mq("md") {
        margin-top: rem(68);
    }
}


