@use "global" as *;
.campaign-slick {

}
.slick-initialized .slick-slide {
    // display: grid;
    display: flex;
}

.campaign-slick__card {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    margin-left:0;
    margin-right: rem(24);
    @include mq("md") {

        margin-top: rem(0);
        margin-bottom: rem(0);
        margin-left: rem(0);
        margin-right: rem(40);
    }
}

.slick-track {
}

.slick-list {
    padding-bottom: rem(10);
    padding-left: rem(7);
    display: grid;
}



.custom-prev,
.custom-next  {
    @include mq("md") {

        position: absolute;
        height: rem(80);
        width: rem(80);
        background-color: transparent;
        border-radius: 50%;
        border: rem(1) solid $green;
        top: 0;
        transition: opacity 0.3s;
    }
  
}

.custom-prev {
    left: 76%;
}

.custom-next {
    left: 90%;
}
.custom-prev:before,
.custom-next:before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: rem(40);
    height: rem(28);
    content: "";
    background-image: url(../images/common/slick-prev-arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: translate(-50%, -50%);
}

.custom-next:before {
    background-image: url(../images/common/slick-next-arrow.png);
}

.custom-prev:hover,
.custom-next:hover {
    opacity: 0.7;
}






