@use "global" as *;

.contact-box {}

.contact-box__header {
    text-align: center;
}

.contact-box__contents-text {
    text-align: center;
    font-size: rem(14);
    font-weight: $regular;
    line-height: calc(18 / 14);
    color: $green;
    margin-top: rem(8);
}

.contact-box__button {
    margin-top: rem(40);
    text-align: center;

    @include mq("md") {}
}