@use "global" as *;

.information {
    background-color: $blue;
    padding-top: rem(80);
    padding-bottom: rem(80);

    @include mq("md") {
        padding-top: rem(100);
        padding-bottom: rem(76);

    }
}

.information__inner {
    max-width: rem(600);
}

.information__header {}





.information__contents {
    margin-top: rem(24);

    @include mq("md") {
        margin-top: rem(35);
        display: flex;
    }
}