@use "global" as *;

.information-card {}

.information-card__wrapper {
    display: flex;
    flex-direction: column;

    @include mq("md") {
        flex-direction: row;
        justify-content: space-between;
    }
}

.information-card__img-wrap {
    @include mq("md") {
        max-width: rem(540);
    }
}

.information-card__img {
    aspect-ratio: 345 / 227;
    object-fit: cover;

    @include mq("md") {
        aspect-ratio: 540 / 358;
    }
}

.information-card__body {
    margin-top: rem(24);

    @include mq("md") {
        padding-top: rem(61);
        margin-top: rem(0);
        margin-left: rem(48);
        width: rem(492);
        max-width: 100%;
    }
}

.information-card__title {
    font-size: rem(20);
    font-weight: $bold;
    line-height: calc(24 / 20);
    color: $green2;
    padding-bottom: rem(2);
    border-bottom: rem(1) solid $green;

    @include mq("md") {
        font-size: rem(24);
        line-height: 1.5;
    }
}

.information-card__text {
    font-size: rem(16);
    font-weight: $regular;
    line-height: calc(24 / 16);
    color: $green2;
    margin-top: rem(8);
}

.information-card__button {
    margin-top: rem(38);
    text-align: center;

    @include mq("md") {}
}

.information-card__button-link {}

.information--border {
    padding: rem(24);
    border: rem(1) solid $green;
}

.information-card__img-wrap--page {
    margin-top: rem(8);

    @include mq("md") {
        margin-left: rem(48);
    }
}

.information-card__img--page {
    aspect-ratio: 297 / 189;
    object-fit: cover;

    @include mq("md") {
        max-width: rem(492);
        aspect-ratio: 492 / 313;
    }
}

.information-card__body--page {
    margin-top: 0;

    @include mq("md") {
        margin-left: 0;
    }
}