@use "global" as *;
.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    overflow: hidden;
    z-index: 9999;
    background: $white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading img {
    position: absolute;
    top: 0;
    height: 100%; 
    object-fit: cover; 
    opacity: 0;
    transform-origin: bottom; 
}

.loading__img1,
.loading__img4 {
    object-fit: cover;
    left: 0;
    width: 100%; 
    animation: fadeIn 1s forwards;
    animation: fadeIn 1s forwards, fadeOut 1s forwards 1s; 
}

.loading__img2 {
    object-fit: cover;
    left: 0;
    width: 50%;
    animation: slideUpExpand 1s forwards 2s;
}

.loading__img3 {
    object-fit: cover;
    left: 50%;
    width: 50%;
    animation: slideUpExpand 1s forwards 2.1s;
}

.loading__img4 {
    object-fit: cover;
    animation: fadeIn 1s forwards 3.5s;
}

.loading__title {
    position: absolute;
    opacity: 0;
    animation: fadeIn 1s forwards 3.5s;
    top: 49%;
    left: 53%;
    transform: translate(-50%, -50%);
    @include mq("md") {
        left: 52%;
        top: 50%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slideUpExpand {
    0% {
        transform: translateY(100%) scale(0.8);
        opacity: 0;
    }
    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}
