@use "global" as *;

.page-price {
  margin-top: rem(52);

  @include mq("md") {
    margin-top: rem(150);
  }
}

.page-price__inner {
  max-width: rem(600);
  position: relative;

}

.page-price__inner::before {
  content: "";
  position: absolute;
  top: rem(-24);
  left: calc(50% - min(48.5vw, 39rem));

  width: rem(120);
  height: rem(55);
  background-image: url(../images/common/voice-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include mq("md") {
    width: rem(301);
    height: rem(138);
    margin-top: rem(-48);
  }

}