@use "global" as *;
.page-mv {

    width: 100%;
    height: rem(460);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    aspect-ratio: 375 / 460;
    
    
    @include mq("md") {
    height: rem(548);
}

}

.page-mv__inner {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}



.page-mv__title {
    font-size: rem(40);
    font-weight: $regular;
    font-family: $number-font;
    color: $white;
    @include mq("md") {
font-size: rem(80);
    }
}
.page-mv__title:first-letter {

    text-transform: uppercase;
}

.page-mv__title--capital-letter {
    // 大文字
    text-transform: uppercase;
}
