@use "global" as *;

.pc-nav {
}

.pc-nav__items {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pc-nav__item,
.pc-nav__item a {
    height: inherit;
}



.pc-nav__item a {
    @include mq("md") {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-inline: rem(20);
    }
}

.pc-nav__item:last-child a {
    @include mq("md") {
        padding-right: 0;
    }
}



.pc-nav__item-wrap {
    @include mq("md") {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

.pc-nav__item-wrap::after {
    content: "";
    position: absolute;
    bottom: rem(-4);
    left: 0;
    width: 100%;
    height: rem(1);
    background-color: $white;
    transition: all 0.3s;
    transform: scale(0, 1);
    transform-origin: center top;
}

.pc-nav__item a:hover .pc-nav__item-wrap::after {
    transform: scale(1, 1);
}

.pc-nav__item-text-en {
    color: $white;
    font-size: rem(18);
    font-weight: $regular;
    font-family: $en-font;
    line-height: 1.2;
}

.pc-nav__item-text-ja {
    @include mq("md") {
        font-size: rem(10);
        line-height: calc(15 / 10);
        font-weight: $regular;
        color: $white;
        margin-top: rem(4);
        margin-right: rem(1);
    }
}

