@use "global" as *;

.site-map-nav {
    width: 100%;

    @include mq("md") {

        width: 83%;
    }
}

.site-map-nav__left-item a,
.site-map-nav__right-item a {
    color: $green2;

}

.site-map-nav__left-item:first-child a::before,
.site-map-nav__right-item:first-child a::before {
    background-image: url(../images/common/site-map-menu-icon.png);
}